{% extends 'layouts/base.html' %}
{% load static %}
{% block context %}

    <h2 class="mb-4">Product List</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% for product in products %}
    {{ product.image.url }}
    <div class="card" style="width: 18rem;">
        <!-- Dynamically display the product image -->
        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <a href="#" class="btn btn-primary">{{ product.price }}</a>
        </div>
    </div>
    {% endfor %}
{% endblock context %}