{% extends "layouts/base.html" %}
{% load static %}
{% block context %}
<div class="container mt-5">
  <h2>Users</h2>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock context %}
